
.card__category{
    width: 100px;
    min-width: 100px;
    height: 150px;
    background-color: #fb9300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    transition: background .5s ease;
    &:hover{
        background: #fff;
        color: #fb9300;
        cursor: pointer;
    }
    &:hover .content__image{
        background: #fb9300;
    }
    &:hover .card__menu__category{
        background: #fb9300;
        color: #fff;
    }
    a{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content__image{
        background-color: #fff;
        padding: 10px;
        border-radius: 50%;
    }
    .card__image{
        width: 50px;
        height: 50px;
    }
    .card__menu__category{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #fb9300;
        background: #fff;
        border: none;
        padding: 5px;
        &:hover{
            background-color: #fb9300;
            color: #fff;
        }
    }
}